# Server Environment
PORT=5000
PYTHON_ENV=development

# Security and Authenticity
# A strong randomised string used to sign and verify tokens of a session
# SECRET_KEY=ReplaceWithSecureSecretKeyWhenCreated

# Database Infrastructure
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YourLocalMySQLPassword
DB_NAME=ATS_JOB_SEEKER
DB_PORT=3306

# AI Usage and Integration
CLAUDE_KEY=YourClaudeAPIKey
